<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container-fluid">
            <a href="http://localhost/cade-minha-casa/" style="margin-left: 16rem; position: relative; right: 2rem; " class="navbar-brand">
                <img src="http://localhost/cade-minha-casa/frontend/images/logo.png" alt="Página principal" style="width: 2.5rem; position: relative;">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" style="width: 70%;" id="navbarmenu">
                <ul class="navbar-nav">
                
                    <li class="navbar-item ms-5">
                        <a href="http://localhost/cade-minha-casa/" class="nav-link">Início</a>
                    </li>
                    <li class="navbar-item ms-5">
                        <a href="http://localhost/cade-minha-casa/frontend/pages/avancos.php" class="nav-link">Nossos Avanços</a>
                    </li>
                    <li class="navbar-item ms-5">
                        <a href="http://localhost/cade-minha-casa/frontend/pages/sinalizacao.php" class="nav-link">Suas Sinalizações</a>
                    </li>
                </ul>             
            </div>
            <div class="collapse navbar-collapse justify-content-start w-25" id="navbarmenu">
                <ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="http://localhost/cade-minha-casa/frontend/images/user.svg" alt="usuario">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-danger" href="http://localhost/cade-minha-casa/backend/logout.php">logOut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- <div class="collapse navbar-collapse" id="navbarmenu" style="border: solid 1px #000;">
                <button type="button" class="ms-5 me-3 btn border border-warning rounded-pill" >Login</button>
                <button type="button" class="btn btn-warning rounded-pill">Cadastre-se</button>
            </div> -->
        </div>
    </nav>
</body>