<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container-fluid">
            <a href="./index.php" style="margin-left: 16rem; position: relative; right: 2rem; " class="navbar-brand">
                <img src="./frontend/images/logo.png" alt="Página principal" style="width: 2.5rem; position: relative;">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" style="width: 70%;" id="navbarmenu">
                <ul class="navbar-nav">
                
                    <li class="navbar-item ms-5">
                        <a href="./index.php" class="nav-link">Início</a>
                    </li>
                </ul>
                
                
    
            </div>
            <div class="collapse navbar-collapse me-3" id="navbarmenu" style="width:25%;">

                <!-- botão login -->

                <div class="me-3 mb-1">
                    <a href="./frontend/pages/login.php"><button type="button" class="ms- me-3 btn border border-warning rounded-pill"style="width:100%;" >Login</button></a>
                </div>

                <!-- botão cadastro -->

                <div class="me-3 mb-1"> 
                   <a href="./frontend/pages/cadastro.php"><button type="button" class="btn btn-warning rounded-pill" style="width: 100%;">Cadastre-se</button></a>
                </div>
            </div>
            <!-- <div class="collapse navbar-collapse" id="navbarmenu" style="border: solid 1px #000;">
                <button type="button" class="ms-5 me-3 btn border border-warning rounded-pill" >Login</button>
                <button type="button" class="btn btn-warning rounded-pill">Cadastre-se</button>
            </div> -->
        </div>
    </nav>
</body>